@import "tailwindcss";



@theme {
  --color-primarys: #E5745D;
  --color-secondarys: #00413D;
}

.font-jost {
  font-family: var(--font-jost);
}

.font-Vollkorn {
  font-family: var(--font-Vollkorn);
}